@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --font-h1: 'Poppins', sans-serif ;
    --font-p: 'Open Sans', sans-serif;
    --color-bg: hsl(257, 40%, 49%);
    --color-text: rgb(255, 255, 255);
    --color-button: rgb(255, 255, 255);
    --color-button-active: hsl(300, 69%, 71%);
    --color-button-font: hsl(257, 40%, 49%);
}

* {
    margin: 0;
    padding: 0;
}

html {

}

body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-bg);
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: var(--font-p);
    color: var(--color-text);
}

header {
    margin: 55px 65px;
}

header > img {
    max-width: 215px;
}

section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 6% 65px 0 65px;
}

.div-image {
    flex: 0 1 709px;
}

.div-image > img {
    width: 100%;
}

.div-info {
    flex: 0 1 40%;
    padding: 45px 0 50px 50px;
}

.div-info > h1 {
    font-family: var(--font-h1);
    font-size: 40px;
}

.div-info > p {
    margin: 25px 0;
    font-size: 18px;
    color: var(--font-p);
    line-height: 27px;
}

.div-info > button {
    padding: 15px 60px;
    font-family: var(--font-p);
    font-size: 20px;
    background-color: var(--color-button);
    border: none;
    border-radius: 30px;
    color: var(--color-button-font);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.445);
    cursor: pointer;
}

.div-info > button:hover {
    background-color: var(--color-button-active);
    transition: 0.3s;
    color: var(--color-button);
}

footer {
    margin: 20px 65px;
}

footer > div {
    display: flex;
    justify-content: flex-end;
}

footer > div > div {
    margin: 8px;
    border: 1px solid var(--color-button);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}

footer > div > div:hover {
    border-color: var(--color-button-active);
    transition: 0.3s;
    color: var(--color-button-active);
}

@media (max-width: 1200px) {
    section {
        flex-direction: column;
    }

    .div-image {
        margin: auto;
        flex: 0 1 auto;
        
    }

    .div-info {
        text-align: center;
    }
}

@media (max-width: 750px) {

    body {
        background-image: url(/images/bg-mobile.svg);
        background-size: contain;
    }

    header {
        margin: 27px 35px;
    }

    header > img {
        width: 130px;
    }

    section {
        margin: 60px 35px 0 35px;

    }

    .div-info {
        padding: 60px 0;
    }

    .div-info > h1 {
        font-size: 25px;
    }

    .div-info > p {
        font-size: 16px;
    }

    .div-info > button {
        padding: 10px 80px;
        font-size: 13px;
    }

    footer {
        margin: 0;
    }

    footer > div {
        justify-content: center;
    }

    footer > div > div {
        width: 25px;
        height: 25px;
    }

    footer > div > div > i{
    
    }
}